@use '@styles/theme';

.buttonBase {
  margin: 0;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  font-size: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 0.125rem solid var(--color-btn-border);
  border-radius: var(--border-radius);
  background-color: var(--color-btn-bg);
  cursor: pointer;
  color: var(--color-btn-text);
  @include theme.transition(background-color, border, color, filter);
  @include theme.drop-shadow-colored(sm, var(--color-btn-shadow));

  svg {
    @include theme.transition(stroke);
    stroke: var(--color-btn-icon);
  }

  &:hover {
    border: 0.125rem solid var(--color-btn-hover-border);
    background-color: var(--color-btn-hover-bg);
    color: var(--color-btn-hover-text);
    @include theme.drop-shadow-colored(md, var(--color-btn-shadow));
    svg {
      stroke: var(--color-btn-hover-icon);
    }
  }
  &:focus {
    border: 0.125rem solid var(--color-btn-focus-border);
    background-color: var(--color-btn-focus-bg);
    color: var(--color-btn-focus-text);
    outline: var(--color-btn-focus-border);
    @include theme.drop-shadow-colored(sm, var(--color-btn-shadow));
    svg {
      stroke: var(--color-btn-focus-icon);
    }
  }
  &:active {
    border: 0.125rem solid var(--color-btn-active-border);
    background-color: var(--color-btn-active-bg);
    color: var(--color-btn-active-text);
    @include theme.drop-shadow-colored(sm, var(--color-btn-shadow));
    svg {
      stroke: var(--color-btn-active-icon);
    }
  }
  &.loading {
    border: 0.125rem solid var(--color-btn-active-border);
    background-color: var(--color-btn-active-bg);
    color: var(--color-btn-active-text);
    pointer-events: none;
    user-select: none;
    @include theme.drop-shadow-colored(sm, var(--color-btn-shadow));
    svg {
      stroke: var(--color-btn-active-icon);
    }
  }
  &.outlined {
    background-color: transparent;
    color: var(--color-btn-border);
    border: 0.125rem solid var(--color-btn-border);
    filter: none;
    svg {
      stroke: var(--color-btn-border);
    }
    &:hover {
      border: 0.125rem solid var(--color-btn-hover-border);
      background-color: none;
      color: var(--color-btn-hover-border);
      filter: none;
    }
    &:focus {
      border: 0.125rem solid var(--color-btn-focus-border);
      background-color: none;
      color: var(--color-btn-focus-border);
      filter: none;
    }
    &:active {
      border: 0.125rem solid var(--color-btn-active-border);
      background-color: none;
      color: var(--color-btn-active-border);
      filter: none;
    }
    &.disabled {
      border: 0.125rem solid var(--color-btn-disabled-border);
      background-color: transparent;
      color: var(--color-btn-disabled-text);
      svg {
        stroke: var(--color-btn-disabled-icon);
      }
      &:hover,
      &:focus,
      &:active {
        border: 0.125rem solid var(--color-btn-disabled-border);
        background-color: transparent;
        color: var(--color-btn-disabled-text);
      }
    }
  }
  &.minimal {
    background: none;
    border: none;
    color: var(--color-btn-minimal-fill);
    svg {
      stroke: var(--color-btn-minimal-fill);
    }
    &:hover {
      color: var(--color-btn-minimal-hover-fill);
      svg {
        stroke: var(--color-btn-minimal-hover-fill);
      }
    }
    &:focus {
      color: var(--color-btn-minimal-focus-fill);
      svg {
        stroke: var(--color-btn-minimal-focus-fill);
      }
    }
    &:active {
      color: var(--color-btn-minimal-active-fill);
      svg {
        stroke: var(--color-btn-minimal-active-fill);
      }
    }
    &.contrasted {
      color: var(--color-btn-minimal-contrasted-fill);
      svg {
        stroke: var(--color-btn-minimal-contrasted-fill);
      }
      &:hover {
        color: var(--color-btn-minimal-contrasted-hover-fill);
        svg {
          stroke: var(--color-btn-minimal-contrasted-hover-fill);
        }
      }
      &:focus {
        color: var(--color-btn-minimal-contrasted-focus-fill);
        svg {
          stroke: var(--color-btn-minimal-contrasted-focus-fill);
        }
      }
      &:active {
        color: var(--color-btn-minimal-contrasted-active-fill);
        svg {
          stroke: var(--color-btn-minimal-contrasted-active-fill);
        }
      }
    }
  }
  &.disabled {
    border: 0.125rem solid var(--color-btn-disabled-border);
    background-color: var(--color-btn-disabled-bg);
    color: var(--color-btn-disabled-text);
    filter: none;
    cursor: no-drop;
    svg {
      stroke: var(--color-btn-disabled-icon);
    }
    &:hover,
    &:focus,
    &:active {
      border: 0.125rem solid var(--color-btn-disabled-border);
      background-color: var(--color-btn-disabled-bg);
      color: var(--color-btn-disabled-text);
    }
  }

  &.stretched {
    width: 100%;
  }
  &.uppercased {
    text-transform: uppercase;
  }
  &.button-icon-left span {
    margin-right: 0.75rem;
  }
  &.button-icon-right span {
    margin-left: 0.75rem;
  }

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

// Different variants
$variants: primary, secondary, success, danger, warning, info, 'transparent';
@each $variant in $variants {
  .button-#{$variant} {
    border: 0.125rem solid var(--color-btn-#{$variant}-border);
    background-color: var(--color-btn-#{$variant}-bg);
    color: var(--color-btn-#{$variant}-text);
    @include theme.drop-shadow-colored(xs, var(--color-btn-shadow));
    @include theme.transition(background-color, border, color, filter);

    svg {
      stroke: var(--color-btn-#{$variant}-icon);
    }

    &:hover {
      border: 0.125rem solid var(--color-btn-#{$variant}-hover-border);
      background-color: var(--color-btn-#{$variant}-hover-bg);
      color: var(--color-btn-#{$variant}-hover-text);
      @include theme.drop-shadow-colored(md, var(--color-btn-shadow));
      svg {
        stroke: var(--color-btn-#{$variant}-hover-icon);
      }
    }
    &:focus {
      border: 0.125rem solid var(--color-btn-#{$variant}-focus-border);
      background-color: var(--color-btn-#{$variant}-focus-bg);
      color: var(--color-btn-#{$variant}-focus-text);
      outline: var(--color-btn-#{$variant}-focus-border);
      @include theme.drop-shadow-colored(sm, var(--color-btn-shadow));
      svg {
        stroke: var(--color-btn-#{$variant}-focus-icon);
      }
    }
    &:active {
      border: 0.125rem solid var(--color-btn-#{$variant}-active-border);
      background-color: var(--color-btn-#{$variant}-active-bg);
      color: var(--color-btn-#{$variant}-active-text);
      @include theme.drop-shadow-colored(sm, var(--color-btn-shadow));
      svg {
        stroke: var(--color-btn-#{$variant}-active-icon);
      }
    }
    &.loading {
      border: 0.125rem solid var(--color-btn-#{$variant}-active-border);
      background-color: var(--color-btn-#{$variant}-active-bg);
      color: var(--color-btn-#{$variant}-active-text);
      @include theme.drop-shadow-colored(sm, var(--color-btn-shadow));
      svg {
        stroke: var(--color-btn-#{$variant}-active-icon);
      }
    }
    &.outlined {
      background-color: transparent;
      @if $variant != 'transparent' {
        color: var(--color-btn-#{$variant}-border);
      } @else {
        color: var(--color-btn-transparent-text);
      }
      border: 0.125rem solid var(--color-btn-#{$variant}-border);
      svg {
        stroke: var(--color-btn-#{$variant}-border);
      }
      &:hover {
        border: 0.125rem solid var(--color-btn-#{$variant}-hover-border);
        background-color: none;
        @if $variant != 'transparent' {
          color: var(--color-btn-#{$variant}-hover-border);
        } @else {
          color: var(--color-btn-transparent-text);
        }
      }
      &:focus {
        border: 0.125rem solid var(--color-btn-#{$variant}-focus-border);
        background-color: none;
        @if $variant != 'transparent' {
          color: var(--color-btn-#{$variant}-focus-border);
        } @else {
          color: var(--color-btn-transparent-text);
        }
      }
      &:active {
        border: 0.125rem solid var(--color-btn-#{$variant}-active-border);
        background-color: none;
        @if $variant != 'transparent' {
          color: var(--color-btn-#{$variant}-active-border);
        } @else {
          color: var(--color-btn-transparent-text);
        }
      }
      &.disabled {
        border: 0.125rem solid var(--color-btn-#{$variant}-disabled-border);
        background-color: transparent;
        color: var(--color-btn-#{$variant}-disabled-text);
        svg {
          stroke: var(--color-btn-#{$variant}-disabled-icon);
        }
        &:hover,
        &:focus,
        &:active {
          border: 0.125rem solid var(--color-btn-#{$variant}-disabled-border);
          background-color: transparent;
          color: var(--color-btn-#{$variant}-disabled-text);
        }
      }
    }
    &.disabled {
      border: 0.125rem solid var(--color-btn-#{$variant}-disabled-border);
      background-color: var(--color-btn-#{$variant}-disabled-bg);
      color: var(--color-btn-#{$variant}-disabled-text);
      filter: none;
      svg {
        stroke: var(--color-btn-#{$variant}-disabled-icon);
      }
      &:hover,
      &:focus,
      &:active {
        border: 0.125rem solid var(--color-btn-#{$variant}-disabled-border);
        background-color: var(--color-btn-#{$variant}-disabled-bg);
        color: var(--color-btn-#{$variant}-disabled-text);
      }
    }
  }
}

// Different Sizes
.button-xs {
  padding: 0.25rem 0.75rem;
  font-size: var(--button-xs);
  &.button-circular {
    padding: 0.5rem;
  }
  svg {
    height: auto;
    width: 1rem;
  }
}
.button-sm {
  padding: 0.5rem 1.25rem;
  font-size: var(--button-sm);

  &.button-circular {
    padding: 0.75rem;
  }
  svg {
    height: auto;
    width: 1.25rem;
  }
}
.button-md {
  padding: 0.75rem 1.25rem;
  font-size: var(--button-md);

  &.button-circular {
    padding: 1rem;
  }
  svg {
    height: auto;
    width: 1.5rem;
  }
}
.button-lg {
  padding: 1rem 1.5rem;
  font-size: var(--button-lg);

  &.button-circular {
    padding: 1.25rem;
  }
  svg {
    height: auto;
    width: 1.75rem;
  }
}
.button-xl {
  padding: 1.25rem 1.75rem;
  font-size: var(--button-xl);

  &.button-circular {
    padding: 1.5rem;
  }
  svg {
    height: auto;
    width: 2.25rem;
  }
}

.button-circular {
  border-radius: 50%;
}

.button-rounded {
  border-radius: var(--border-radius-lg);
}
