@use '@styles/theme';

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: theme.$z-high;
  width: 100%;
  background-color: var(--color-bg-primary);
  @include theme.transition(background-color);

  &.headerTransparent {
    background-color: transparent;
  }

  &.navContainerOpen {
    position: fixed;
  }
}

.headerContainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem 0 1rem;
}

.navigation {
  padding: 1rem 1rem;

  &.navigationTransparent {
    padding: 2.5rem 1rem 1rem;
  }

  @include theme.breakpoint-up(lg) {
    display: flex;
    align-items: center;
  }
}

.toolbar {
  position: relative;
  z-index: theme.$z-high;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  width: 100%;
}

.toolbarIcons {
  display: flex;
  align-items: center;

  button {
    padding: 0.25rem 0.5rem !important;
    margin-left: 0.5rem !important;
    border-radius: var--(border-radius);
    &.menuButtonTransparent {
      background: var(--color-btn-transparent-bg) !important;
    }
    &.toolbarGeneralIcon {
      svg {
        @include theme.transition(color, fill, stroke);
        &:hover {
          stroke: var(--color-btn-primary-border);
          color: var(--color-btn-primary-border);
        }
      }
    }
  }

  @include theme.breakpoint-up(lg) {
    order: 2;
    .hamburger {
      display: none;
    }
  }
}

.logo {
  cursor: pointer;
  path {
    @include theme.transition(fill);
  }
  @include theme.breakpoint-up(lg) {
    width: 8rem;
    height: auto;
  }
}
