@use '@styles/theme';

.linkContainer {
  border-radius: var(--border-radius);
  outline: none;
  font-size: inherit;
  padding: 1rem !important;
  @include theme.transition(background, color);

  a,
  button {
    width: 100%;
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--color-text-primary);
    border: none;
    background: var(--color-bg-primary);
    @include theme.transition(color);
  }

  @include theme.breakpoint-up(lg) {
    padding: 0.5rem 1rem !important;
    a,
    button {
      &:hover {
        color: var(--color-link-primary);
      }
      font-size: 1rem !important;
    }
  }

  &:hover,
  &:focus {
    background: var(--color-bg-secondary);
  }
}

.subMenuButton {
  padding: 0;
  border: none;

  &:hover,
  &:focus,
  &:active {
    background: none;
    color: inherit;
    border: inherit;
  }
}

.subMenuList {
  background: none;
  color: inherit;
  font-weight: 700;
  font-size: 1.125rem;
}

.activeLink {
  a {
    color: var(--color-link-primary);
  }
}
