.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  padding: 0.25em 0.375em;
  text-align: center;
  font-size: var(--font-size-x-small);
  font-weight: 500;
  border-radius: var(--border-radius-lg);
  border: 0.125rem solid var(--color-badge-border);
  color: var(--color-badge-text);
  background: var(--color-badge-bg);

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

$variants: primary, secondary, success, danger, warning, info, contrasted;
@each $variant in $variants {
  .badge-#{$variant} {
    border: 0.125rem solid var(--color-badge-#{$variant}-border);
    background: var(--color-badge-#{$variant}-bg);
    color: var(--color-badge-#{$variant}-text);
  }
}

.badge-icon-left {
  margin-right: 0.5em;
  height: 1em;
}
.badge-icon-right {
  margin-left: 0.5em;
  height: 1em;
}
