@use '@styles/theme';

.footer {
  width: 100%;
  height: 100px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include theme.transition(border-color);

  img {
    margin-left: 0.5rem;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  height: 18px;
  path {
    @include theme.transition(fill);
  }
}
