@use '@styles/theme';

.wrapper {
  position: absolute;
  top: calc(100% + 0.5rem);
  z-index: theme.$z-ultra;
}

.root {
  background: var(--color-bg-secondary);
  border-radius: var(--border-radius);
  padding: 1rem;
  @include theme.transition(background, border-color, color);
}
