.custom500 {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;

  h4 {
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: var(--big);
  }
}
