@use '@styles/theme';

.buttonsContainer {
  margin: 3rem 0;
}
.buttonRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  background-color: var(--background-2);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  @include theme.transition(background-color);

  &.dark {
    background: linear-gradient(to right, #7f00ff, #e100ff);
  }
}
