@use '@styles/mixins';

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;

  &.stretched {
    width: 100%;
  }

  &.dropdownMenuOpen {
    > .dropdownListContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &.dropdownFloating {
        @include mixins.breakpoint-up(lg) {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: var(--z-mid);
          min-width: 15rem;
          padding: 0.25rem 1rem;
          box-shadow: var(--box-shadow-sm);
        }
      }
    }

    > .dropdownButton {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      svg {
        transform: rotate(90deg);
      }
    }

    &::after {
      content: ' ';
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      width: 100%;
      height: 0.5rem;
      background: transparent;
    }
  }
}

.dropdownButton {
  justify-content: space-between;
  font-size: inherit;
  width: 100%;
  svg {
    flex-shrink: 0;
    @include mixins.transition(transform);
  }
}

.dropdownListContainer {
  width: 100%;
  display: none;
  padding: 0 1rem;

  & > * {
    min-height: 2.5rem;
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
  }

  .dropdownButton {
    border: none;
    background: inherit;
    color: inherit;
    outline: inherit;
    padding: 0;
    min-height: inherit;
    font-weight: inherit;
    transition: none;
    &:hover,
    &:focus,
    &:active {
      background: inherit;
      color: inherit;
      border: inherit;
    }
  }
}

// Different variants
$variants: default, primary, secondary, success, danger, warning, info,
  'transparent', minimal, minimal-bright, minimal-dark;
@each $variant in $variants {
  .dropdown-#{$variant} {
    border: 0.125rem solid var(--color-btn-#{$variant}-border);
    background: var(--color-btn-#{$variant}-bg);
    color: var(--color-btn-#{$variant}-text);
    outline: var(--color-btn-#{$variant}-border);
  }
}
