@use '@styles/theme';

.menuLevelTwo {
  display: none;
  padding: 1rem;
  border-radius: theme.$border-radius;

  @include theme.breakpoint-up(lg) {
    position: absolute;
    top: 100%;
    z-index: theme.$z-high;
    background-color: var(--background-0);
    filter: theme.$drop-shadow-lg;
    @include theme.transition(background-color);
  }
}
