@use '@styles/theme';

.banner {
  right: 0;
  left: 0;
  z-index: theme.$z-mid;
  color: var(--color-text-white);
  background-color: var(--color-bg-brand);
  box-shadow: theme.$box-shadow-md;

  &.banner-bottom {
    bottom: 0;
    &.floating {
      bottom: 1rem;
    }
  }
  &.banner-top {
    top: 0;
    &.floating {
      top: 1rem;
    }
  }

  &.floating {
    width: calc(100% - 2rem);
    max-width: nth(theme.$max-container-sizes, 3);
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--border-radius);
  }

  &.banner-viewport {
    position: fixed;
  }
  &.banner-parent {
    position: static;
  }

  @include theme.breakpoint-up(sm) {
    &.floating {
      &.banner-bottom {
        bottom: 1.5rem;
      }
      &.banner-top {
        top: 1.5rem;
      }
    }
  }
}

.bannerContainer {
  padding: 1rem;
  display: grid;
  grid-template-columns: minmax(auto, 3rem) 1fr auto auto;
  grid-gap: 0.75rem;
  align-items: center;

  @include theme.breakpoint-up(md) {
    grid-gap: 1rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
    grid-template-columns: minmax(auto, 3rem) 1fr auto;
  }
}

.bannerIcon {
  grid-column: 1;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  svg {
    width: 100%;
    height: auto;
  }

  @include theme.breakpoint-up(md) {
    align-self: stretch;
    font-size: 2.5rem;
  }
}

.closeButton {
  grid-column: 1 / -1;
  justify-self: end;
  height: auto;
  margin-top: -0.5rem !important;
  margin-right: -0.75rem !important;

  @include theme.breakpoint-up(md) {
    margin-top: 0rem !important;
    margin-bottom: -1rem !important;
  }
}

.bannerBody {
  grid-column: 2 / -1;

  .title {
    font-size: var(--font-size);
    font-weight: 500;
  }
  p {
    margin-top: 0.5rem;
    font-size: var(--small);
    line-height: var(--line-height-small);
  }
  @include theme.breakpoint-up(md) {
    padding-right: 1rem;
    grid-column: 2;
  }
}

.actionRow {
  grid-column: 1 / -1;

  & > * {
    width: 100%;
  }

  @include theme.breakpoint-up(md) {
    // grid-row: 1;
    grid-column: 3;

    & > * {
      width: unset;
    }
  }
}
