@use '@styles/mixins';

.banner {
  right: 0;
  left: 0;
  z-index: var(--z-mid);
  color: var(--color-white);
  background-color: var(--color-bg-brand);
  box-shadow: var(--box-shadow-md);
  display: flex;
  flex-direction: column;

  &.banner-bottom {
    bottom: 0;
    &.floating {
      bottom: 1rem;
    }
  }
  &.banner-top {
    top: 0;
    &.floating {
      top: 1rem;
    }
  }

  &.floating {
    width: calc(100% - 2rem);
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--border-radius);
    padding: 0;

    @include mixins.breakpoint-up(md) {
      width: calc(100% - 3rem);
    }

    @include mixins.breakpoint-up(xl) {
      width: calc(100% - 4rem);
    }
  }

  @include mixins.breakpoint-up(md) {
    &.floating {
      &.banner-bottom {
        bottom: 1.5rem;
      }
      &.banner-top {
        top: 1.5rem;
      }
    }
  }

  @include mixins.breakpoint-up(lg) {
    &.floating {
      &.banner-bottom {
        bottom: 2rem;
      }
      &.banner-top {
        top: 2rem;
      }
    }
  }
}

.banner-viewport {
  position: fixed;
}

.banner-parent {
  position: static;
  border-radius: var(--border-radius);
}

.bannerContainer {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  @include mixins.breakpoint-up(md) {
    padding: 0 1.5rem 1.5rem 1.5rem;
    flex-direction: row;
  }
  @include mixins.breakpoint-up(xl) {
    padding: 0 2rem 2rem 2rem;
  }
}

.bannerIcon {
  font-size: 5rem;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 1rem;
  svg {
    width: 100%;
    height: auto;
  }

  @include mixins.breakpoint-up(md) {
    font-size: 8rem;
  }
}

.closeButton {
  align-self: flex-end;
}

.bannerBody {
  display: grid;
  grid-gap: 1rem;
  .title {
    display: inline-flex;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: var(--font-size-title);
    line-height: var(--line-height-header);
  }
  p {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
  }
  @include mixins.breakpoint-up(md) {
    grid-gap: 1.5rem;
    padding-left: 1.5rem;
  }
}

.actionRow {
  & > * {
    width: 100%;
  }

  @include mixins.breakpoint-up(md) {
    & > * {
      width: unset;
    }
  }
}
