@use 'styles/theme';

.switchInput {
  position: relative;
  display: inline-flex;
  //   &:after {
  //     content: '❌';
  //     color: #aaa;
  //     position: relative;
  //     right: 30px;
  //     bottom: 15px;
  //   }
  //   &:before {
  //     content: '✔';
  //     position: relative;
  //     left: 35px;
  //     bottom: 15px;
  //     color: #fff;
  //     z-index: 1;
  //   }

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: theme.$z-mid;
    opacity: 0;
    cursor: pointer;

    &:focus + .switchToggle {
      box-shadow: 0 0 0.1rem 0.1rem var(--color-input-shadow);
    }

    // &:hover + .switchToggle:after {
    //   box-shadow: 0 0 0.1rem 0.1rem var(--color-input-shadow);
    // }
    &:checked + .switchToggle {
      background: var(--color-input-checkbox-bg);

      &:after {
        left: 40px;
      }
    }
  }
}

.switchToggle {
  width: 80px;
  height: 42px;
  border: 0.125rem solid var(--color-input-border);
  background: var(--color-input-bg);
  position: relative;
  display: inline-block;
  border-radius: 46px;
  @include theme.transition(background);
  //   box-shadow: 0 0 0.1rem 0.1rem var(--color-input-shadow);

  &:after {
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 0.1rem 0.1rem var(--color-input-shadow);
    @include theme.transition(left);
  }
}
