@use '@styles/theme';

[data-theme='dark'] {
  --background-0: #{theme.$black};
  --background-1: #{theme.$gray-900};
  --background-2: #{theme.$gray-800};
  --background-3: #{theme.$gray-700};
  --background-4: #{theme.$gray-600};

  --border-0: #{theme.$gray-900};
  --border-1: #{theme.$gray-800};
  --border-2: #{theme.$gray-700};
  --border-3: #{theme.$gray-600};
  --border-4: #{theme.$gray-500};
  --border-accent-0: #{theme.$amber-300};
  --border-accent-1: #{theme.$amber-500};
  --border-accent-2: #{theme.$amber-700};

  --text-primary: #{theme.$white};
  --text-secondary: #{theme.$gray-50};
  --text-tertiary: #{theme.$gray-100};
  --text-accent: #{theme.$amber-500};
  --text-link: #{theme.$amber-500};
  --text-hover: #{theme.$amber-300};
  --text-active: #{theme.$amber-500};

  --icon-primary: #{theme.$white};
  --icon-accent: #{theme.$purple-600};
  --icon-contrasted: #{theme.$white};
  --icon-hover: #{theme.$purple-400};
  --icon-active: #{theme.$purple-600};
}
