@use '@styles/theme';

[data-theme='dark'] {
  --color-text-primary: var(--color-white);
  --color-text-secondary: var(--color-gray-100);
  --color-text-tertiary: var(--color-gray-300);
  --color-text-placeholder: var(--color-gray-400);
  --color-text-disabled: var(--color-gray-700);
  --color-text-danger: var(--color-red-400);
  --color-text-success: var(--color-purple-400);
  --color-text-warning: var(--color-orange-400);
  --color-text-info: var(--color-amber-400);
  --color-text-inverse: var(--color-black);

  --color-link-primary: var(--color-purple-300);
  --color-link-hover: var(--color-purple-400);
  --color-link-focus: var(--color-purple-400);
  --color-link-active: var(--color-purple-500);
  --color-link-disabled: var(--color-purple-100);
  // Icons
  --color-icon-primary: var(--color-white);
  --color-icon-secondary: var(--color-gray-100);
  --color-icon-tertiary: var(--color-gray-300);
  --color-icon-placeholder: var(--color-gray-400);
  --color-icon-disabled: var(--color-gray-600);
  --color-icon-danger: var(--color-red-400);
  --color-icon-success: var(--color-purple-400);
  --color-icon-warning: var(--color-orange-400);
  --color-icon-info: var(--color-amber-400);
  --color-icon-inverse: var(--color-black);
  // Backgrounds
  --color-bg-primary: var(--color-gray-900);
  --color-bg-secondary: var(--color-gray-800);
  --color-bg-tertiary: var(--color-gray-700);
  --color-bg-backdrop: var(--color-black-fade-70);
  --color-bg-success: var(--color-purple-600);
  --color-bg-danger: var(--color-red-700);
  --color-bg-warning: var(--color-orange-800);
  --color-bg-info: var(--color-amber-700);
  --color-bg-inversed: var(--color-gray-50);
  --color-bg-brand: var(--color-purple-500);
  --color-bg-brand-primary: var(--color-purple-700);
  --color-bg-brand-secondary: var(--color-purple-900);
  // Borders
  --color-border-primary: var(--color-gray-800);
  --color-border-secondary: var(--color-gray-700);
  --color-border-tertiary: var(--color-gray-600);
  --color-border-success: var(--color-purple-600);
  --color-border-danger: var(--color-red-700);
  --color-border-warning: var(--color-orange-800);
  --color-border-info: var(--color-amber-700);
  --color-border-inversed: var(--color-gray-200);
  // Shadows
  --color-shadow-primary: var(--color-black-fade-15);

  // Buttons
  --color-btn-text: var(--color-black);
  --color-btn-icon: var(--color-black);
  --color-btn-bg: var(--color-gray-100);
  --color-btn-border: var(--color-gray-100);
  --color-btn-shadow: var(--color-shadow-primary);
  --color-btn-hover-text: var(--color-black);
  --color-btn-hover-icon: var(--color-black);
  --color-btn-hover-bg: var(--color-gray-300);
  --color-btn-hover-border: var(--color-gray-300);
  --color-btn-focus-text: var(--color-black);
  --color-btn-focus-icon: var(--color-black);
  --color-btn-focus-bg: var(--color-gray-300);
  --color-btn-focus-border: var(--color-gray-300);
  --color-btn-active-text: var(--color-black);
  --color-btn-active-icon: var(--color-black);
  --color-btn-active-bg: var(--color-gray-400);
  --color-btn-active-border: var(--color-gray-400);
  --color-btn-disabled-text: var(--color-gray-500);
  --color-btn-disabled-icon: var(--color-gray-500);
  --color-btn-disabled-bg: var(--color-gray-800);
  --color-btn-disabled-border: var(--color-gray-800);

  --color-btn-primary-text: var(--color-purple-50);
  --color-btn-primary-icon: var(--color-purple-50);
  --color-btn-primary-bg: var(--color-purple-400);
  --color-btn-primary-border: var(--color-purple-400);
  --color-btn-primary-shadow: var(--color-purple-500-fade-15);
  --color-btn-primary-hover-text: var(--color-purple-50);
  --color-btn-primary-hover-icon: var(--color-purple-50);
  --color-btn-primary-hover-bg: var(--color-purple-300);
  --color-btn-primary-hover-border: var(--color-purple-300);
  --color-btn-primary-focus-text: var(--color-purple-50);
  --color-btn-primary-focus-icon: var(--color-purple-50);
  --color-btn-primary-focus-bg: var(--color-purple-300);
  --color-btn-primary-focus-border: var(--color-purple-300);
  --color-btn-primary-active-text: var(--color-purple-50);
  --color-btn-primary-active-icon: var(--color-purple-50);
  --color-btn-primary-active-bg: var(--color-purple-700);
  --color-btn-primary-active-border: var(--color-purple-700);
  --color-btn-primary-disabled-text: var(--color-gray-500);
  --color-btn-primary-disabled-icon: var(--color-gray-500);
  --color-btn-primary-disabled-bg: var(--color-purple-100);
  --color-btn-primary-disabled-border: var(--color-purple-100);

  --color-btn-secondary-text: var(--color-black);
  --color-btn-secondary-icon: var(--color-black);
  --color-btn-secondary-bg: var(--color-amber-400);
  --color-btn-secondary-border: var(--color-amber-400);
  --color-btn-secondary-shadow: var(--color-amber-400-fade-15);
  --color-btn-secondary-hover-text: var(--color-black);
  --color-btn-secondary-hover-icon: var(--color-black);
  --color-btn-secondary-hover-bg: var(--color-amber-300);
  --color-btn-secondary-hover-border: var(--color-amber-300);
  --color-btn-secondary-focus-text: var(--color-black);
  --color-btn-secondary-focus-icon: var(--color-black);
  --color-btn-secondary-focus-bg: var(--color-amber-300);
  --color-btn-secondary-focus-border: var(--color-amber-300);
  --color-btn-secondary-active-text: var(--color-black);
  --color-btn-secondary-active-icon: var(--color-black);
  --color-btn-secondary-active-bg: var(--color-amber-600);
  --color-btn-secondary-active-border: var(--color-amber-600);
  --color-btn-secondary-disabled-text: var(--color-gray-500);
  --color-btn-secondary-disabled-icon: var(--color-gray-500);
  --color-btn-secondary-disabled-bg: var(--color-amber-200);
  --color-btn-secondary-disabled-border: var(--color-amber-200);

  --color-btn-success-text: var(--color-purple-50);
  --color-btn-success-icon: var(--color-purple-50);
  --color-btn-success-bg: var(--color-purple-400);
  --color-btn-success-border: var(--color-purple-400);
  --color-btn-success-shadow: var(--color-purple-500-fade-15);
  --color-btn-success-hover-text: var(--color-purple-50);
  --color-btn-success-hover-icon: var(--color-purple-50);
  --color-btn-success-hover-bg: var(--color-purple-300);
  --color-btn-success-hover-border: var(--color-purple-300);
  --color-btn-success-focus-text: var(--color-purple-50);
  --color-btn-success-focus-icon: var(--color-purple-50);
  --color-btn-success-focus-bg: var(--color-purple-300);
  --color-btn-success-focus-border: var(--color-purple-300);
  --color-btn-success-active-text: var(--color-purple-50);
  --color-btn-success-active-icon: var(--color-purple-50);
  --color-btn-success-active-bg: var(--color-purple-700);
  --color-btn-success-active-border: var(--color-purple-700);
  --color-btn-success-disabled-text: var(--color-gray-500);
  --color-btn-success-disabled-icon: var(--color-gray-500);
  --color-btn-success-disabled-bg: var(--color-purple-100);
  --color-btn-success-disabled-border: var(--color-purple-100);

  --color-btn-danger-text: var(--color-red-50);
  --color-btn-danger-icon: var(--color-red-50);
  --color-btn-danger-bg: var(--color-red-700);
  --color-btn-danger-border: var(--color-red-700);
  --color-btn-danger-shadow: var(--color-red-700-fade-15);
  --color-btn-danger-hover-text: var(--color-red-50);
  --color-btn-danger-hover-icon: var(--color-red-50);
  --color-btn-danger-hover-bg: var(--color-red-500);
  --color-btn-danger-hover-border: var(--color-red-500);
  --color-btn-danger-focus-text: var(--color-red-50);
  --color-btn-danger-focus-icon: var(--color-red-50);
  --color-btn-danger-focus-bg: var(--color-red-500);
  --color-btn-danger-focus-border: var(--color-red-500);
  --color-btn-danger-active-text: var(--color-red-50);
  --color-btn-danger-active-icon: var(--color-red-50);
  --color-btn-danger-active-bg: var(--color-red-900);
  --color-btn-danger-active-border: var(--color-red-900);
  --color-btn-danger-disabled-text: var(--color-gray-500);
  --color-btn-danger-disabled-icon: var(--color-gray-500);
  --color-btn-danger-disabled-bg: var(--color-red-200);
  --color-btn-danger-disabled-border: var(--color-red-200);

  --color-btn-warning-text: var(--color-black);
  --color-btn-warning-icon: var(--color-black);
  --color-btn-warning-bg: var(--color-orange-500);
  --color-btn-warning-border: var(--color-orange-500);
  --color-btn-warning-shadow: var(--color-orange-500-fade-15);
  --color-btn-warning-hover-text: var(--color-black);
  --color-btn-warning-hover-icon: var(--color-black);
  --color-btn-warning-hover-bg: var(--color-orange-300);
  --color-btn-warning-hover-border: var(--color-orange-300);
  --color-btn-warning-focus-text: var(--color-black);
  --color-btn-warning-focus-icon: var(--color-black);
  --color-btn-warning-focus-bg: var(--color-orange-300);
  --color-btn-warning-focus-border: var(--color-orange-300);
  --color-btn-warning-active-text: var(--color-black);
  --color-btn-warning-active-icon: var(--color-black);
  --color-btn-warning-active-bg: var(--color-orange-700);
  --color-btn-warning-active-border: var(--color-orange-700);
  --color-btn-warning-disabled-text: var(--color-gray-500);
  --color-btn-warning-disabled-icon: var(--color-gray-500);
  --color-btn-warning-disabled-bg: var(--color-orange-200);
  --color-btn-warning-disabled-border: var(--color-orange-200);

  --color-btn-info-text: var(--color-black);
  --color-btn-info-icon: var(--color-black);
  --color-btn-info-bg: var(--color-amber-400);
  --color-btn-info-border: var(--color-amber-400);
  --color-btn-info-shadow: var(--color-amber-400-fade-15);
  --color-btn-info-hover-text: var(--color-black);
  --color-btn-info-hover-icon: var(--color-black);
  --color-btn-info-hover-bg: var(--color-amber-300);
  --color-btn-info-hover-border: var(--color-amber-300);
  --color-btn-info-focus-text: var(--color-black);
  --color-btn-info-focus-icon: var(--color-black);
  --color-btn-info-focus-bg: var(--color-amber-300);
  --color-btn-info-focus-border: var(--color-amber-300);
  --color-btn-info-active-text: var(--color-black);
  --color-btn-info-active-icon: var(--color-black);
  --color-btn-info-active-bg: var(--color-amber-600);
  --color-btn-info-active-border: var(--color-amber-600);
  --color-btn-info-disabled-text: var(--color-gray-500);
  --color-btn-info-disabled-icon: var(--color-gray-500);
  --color-btn-info-disabled-bg: var(--color-amber-200);
  --color-btn-info-disabled-border: var(--color-amber-200);

  --color-btn-transparent-text: var(--color-white);
  --color-btn-transparent-icon: var(--color-white);
  --color-btn-transparent-bg: var(--color-white-fade-15);
  --color-btn-transparent-border: var(--color-white-fade-15);
  --color-btn-transparent-shadow: var(--color-black-fade-15);
  --color-btn-transparent-hover-text: var(--color-white);
  --color-btn-transparent-hover-icon: var(--color-white);
  --color-btn-transparent-hover-bg: var(--color-white-fade-30);
  --color-btn-transparent-hover-border: var(--color-white-fade-30);
  --color-btn-transparent-focus-text: var(--color-white);
  --color-btn-transparent-focus-icon: var(--color-white);
  --color-btn-transparent-focus-bg: var(--color-white-fade-30);
  --color-btn-transparent-focus-border: var(--color-white-fade-30);
  --color-btn-transparent-active-text: var(--color-white);
  --color-btn-transparent-active-icon: var(--color-white);
  --color-btn-transparent-active-bg: var(--color-white-fade-70);
  --color-btn-transparent-active-border: var(--color-white-fade-70);
  --color-btn-transparent-disabled-text: var(--color-white-fade-15);
  --color-btn-transparent-disabled-icon: var(--color-white-fade-15);
  --color-btn-transparent-disabled-bg: transparent;
  --color-btn-transparent-disabled-border: transparent;

  --color-btn-minimal-fill: var(--color-white);
  --color-btn-minimal-hover-fill: var(--color-gray-100);
  --color-btn-minimal-focus-fill: var(--color-gray-100);
  --color-btn-minimal-active-fill: var(--color-gray-300);
  --color-btn-minimal-disabled-fill: var(--color-gray-700);
  // Toasts
  --color-toast-text: var(--color-white);
  --color-toast-icon: var(--color-white);
  --color-toast-bg: var(--color-gray-800);
  --color-toast-border: var(--color-gray-800);
  --color-toast-hover-text: var(--color-gray-100);
  --color-toast-hover-icon: var(--color-gray-100);
  --color-toast-hover-bg: var(--color-gray-700);
  --color-toast-hover-border: var(--color-gray-700);

  --color-toast-inverted-text: var(--color-black);
  --color-toast-inverted-icon: var(--color-black);
  --color-toast-inverted-bg: var(--color-gray-300);
  --color-toast-inverted-border: var(--color-gray-300);
  --color-toast-inverted-hover-text: var(--color-gray-900);
  --color-toast-inverted-hover-icon: var(--color-gray-900);
  --color-toast-inverted-hover-bg: var(--color-gray-100);
  --color-toast-inverted-hover-border: var(--color-gray-100);

  --color-label-primary-text: var(--color-gray-400);
  --color-label-primary-icon: var(--color-gray-400);
  --color-label-secondary-text: var(--color-gray-500);
  --color-label-secondary-icon: var(--color-gray-500);
  --color-label-brand-text: var(--color-purple-500);
  --color-label-brand-icon: var(--color-purple-500);
  --color-label-info-text: var(--color-amber-500);
  --color-label-info-icon: var(--color-amber-500);
  --color-label-success-text: var(--color-purple-500);
  --color-label-success-icon: var(--color-purple-500);
  --color-label-warning-text: var(--color-orange-500);
  --color-label-warning-icon: var(--color-orange-500);
  --color-label-danger-text: var(--color-red-500);
  --color-label-danger-icon: var(--color-red-500);

  --color-input-bg: var(--color-gray-900);
  --color-input-border: var(--color-gray-700);
  --color-input-hover-bg: var(--color-gray-900);
  --color-input-hover-border: var(--color-gray-800);
  --color-input-focus-bg: var(--color-gray-900);
  --color-input-focus-border: var(--color-purple-800);
  --color-input-disabled-bg: var(--color-gray-800);
  --color-input-disabled-border: var(--color-gray-800);
  --color-input-success-bg: var(--color-gray-900);
  --color-input-success-border: var(--color-purple-800);
  --color-input-warning-bg: var(--color-gray-900);
  --color-input-warning-border: var(--color-orange-800);
  --color-input-error-bg: var(--color-gray-900);
  --color-input-error-border: var(--color-red-500);

  --color-badge-bg: var(--color-gray-800);
  --color-badge-border: var(--color-gray-800);
  --color-badge-text: var(--color-gray-50);
  --color-badge-contrasted-bg: var(--color-gray-200);
  --color-badge-contrasted-border: var(--color-gray-200);
  --color-badge-contrasted-text: var(--color-gray-800);
  --color-badge-primary-bg: var(--color-purple-500);
  --color-badge-primary-border: var(--color-purple-500);
  --color-badge-primary-text: var(--color-purple-50);
  --color-badge-secondary-bg: var(--color-amber-300);
  --color-badge-secondary-border: var(--color-amber-300);
  --color-badge-secondary-text: var(--color-amber-900);
  --color-badge-success-bg: var(--color-purple-500);
  --color-badge-success-border: var(--color-purple-500);
  --color-badge-success-text: var(--color-purple-50);
  --color-badge-danger-bg: var(--color-red-500);
  --color-badge-danger-border: var(--color-red-500);
  --color-badge-danger-text: var(--color-red-50);
  --color-badge-warning-bg: var(--color-orange-300);
  --color-badge-warning-border: var(--color-orange-300);
  --color-badge-warning-text: var(--color-orange-900);
  --color-badge-info-bg: var(--color-amber-300);
  --color-badge-info-border: var(--color-amber-300);
  --color-badge-info-text: var(--color-amber-900);

  --color-tooltip-bg: var(--color-gray-200);
  --color-tooltip-border: var(--color-gray-200);
  --color-tooltip-text: var(--color-gray-800);

  --color-accordion-header-bg: var(--color-gray-900);
  --color-accordion-header-text: var(--color-white);
  --color-accordion-header-border: var(--color-gray-800);
  --color-accordion-header-hover-bg: var(--color-gray-800);
  --color-accordion-header-hover-text: var(--color-white);
  --color-accordion-header-hover-border: var(--color-gray-800);
  --color-accordion-header-focus-bg: var(--color-gray-800);
  --color-accordion-header-focus-text: var(--color-white);
  --color-accordion-header-focus-border: var(--color-gray-800);
  --color-accordion-header-disabled-bg: var(--color-gray-500);
  --color-accordion-header-disabled-text: var(--color-text-disabled);
  --color-accordion-header-disabled-border: var(--color-gray-500);
  --color-accordion-header-expanded-bg: var(--color-purple-900);
  --color-accordion-header-expanded-text: var(--color-purple-50);
  --color-accordion-header-expanded-border: var(--color-purple-900);
  --color-accordion-body-bg: var(--color-purple-900);
  --color-accordion-body-text: var(--color-purple-50);
}
