// Define your palette here
// We use Material Design's color system naming convention
// https://material.io/design/color/the-color-system.html
$black: #000000;
$white: #ffffff;

$gray50: #fafafa;
$gray100: #f5f5f5;
$gray200: #eeeeee;
$gray300: #e0e0e0;
$gray400: #bdbdbd;
$gray500: #9e9e9e;
$gray600: #757575;
$gray700: #616161;
$gray800: #424242;
$gray900: #212121;

$primary100: #f3e5f5;
$primary200: #ce93d8;
$primary300: #ba68c8;
$primary400: #ab47bc;
$primary500: #ab47bc;
$primary600: #8d24aa;
$primary700: #7a1fa2;
$primary800: #691b9a;
$primary900: #49148c;

$secondary100: #fce4ec;
$secondary200: #f8bbd0;
$secondary300: #f48fb1;
$secondary400: #f06292;
$secondary500: #ec407a;
$secondary600: #d81b60;
$secondary700: #c2185b;
$secondary800: #ad1457;
$secondary900: #880e4f;
