@use "sass:map";
@use "breakpoints";
@use "variables";

// Containers
.container {
  width: 100%;
  @each $size, $bp in variables.$grid-breakpoints {
    @if $size != xs {
      $i: index((variables.$grid-breakpoints), ($size $bp)) - 1;
      @include breakpoints.breakpoint-up($size) {
        max-width: nth(variables.$max-container-sizes, $i);
      }
    }
  }
}

.container-sm {
  width: 100%;
  max-width: nth(variables.$max-container-sizes, 1);
  @include breakpoints.breakpoint-up(md) {
    max-width: nth(variables.$max-container-sizes, 2);
  }
  @include breakpoints.breakpoint-up(lg) {
    max-width: nth(variables.$max-container-sizes, 3);
  }
  @include breakpoints.breakpoint-up(xl) {
    max-width: nth(variables.$max-container-sizes, 4);
  }
  @include breakpoints.breakpoint-up(xxl) {
    max-width: nth(variables.$max-container-sizes, 5);
  }
}

.container-md {
  width: 100%;
  max-width: nth(variables.$max-container-sizes, 2);
  @include breakpoints.breakpoint-up(lg) {
    max-width: nth(variables.$max-container-sizes, 3);
  }
  @include breakpoints.breakpoint-up(xl) {
    max-width: nth(variables.$max-container-sizes, 4);
  }
  @include breakpoints.breakpoint-up(xxl) {
    max-width: nth(variables.$max-container-sizes, 5);
  }
}

.container-lg {
  width: 100%;
  max-width: nth(variables.$max-container-sizes, 3);
  @include breakpoints.breakpoint-up(xl) {
    max-width: nth(variables.$max-container-sizes, 4);
  }
  @include breakpoints.breakpoint-up(xxl) {
    max-width: nth(variables.$max-container-sizes, 5);
  }
}
.container-xl {
  width: 100%;
  max-width: nth(variables.$max-container-sizes, 4);
  @include breakpoints.breakpoint-up(xxl) {
    max-width: nth(variables.$max-container-sizes, 5);
  }
}
.container-xxl {
  width: 100%;
  max-width: nth(variables.$max-container-sizes, 5);
}

.container-fluid {
  width: 100%;
}

.container-page {
  @include breakpoints.breakpoint-up(md) {
    width: clamp(45ch, 100%, 85ch);
  }
}

.padded {
  padding: 0 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.col-span-1 {
  grid-column: span 1;
}
.col-span-2 {
  grid-column: span 2;
}
.col-span-3 {
  grid-column: span 3;
}
.col-span-4 {
  grid-column: span 4;
}
