@use "sass:map";
@use "breakpoints";
@use "variables";

// Containers
.container {
  width: 100%;
  @each $size, $bp in variables.$grid-breakpoints {
    @if $size != xs {
      @include breakpoints.breakpoint-up($size) {
        max-width: $bp;
      }
    }
  }
}

@each $size, $bp in variables.$grid-breakpoints {
  @if $size != xs {
    .container-#{$size} {
      width: 100%;
      max-width: $bp;
    }
  }
}

.container-fluid {
  width: 100%;
}

.padded {
  padding: 1.5rem 2rem;
  @include breakpoints.breakpoint-up(lg) {
    padding: 2rem;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
