// Define your margins, paddings, radii,... here

// :root {
//   // Margins
//   --space-xxs: 4px;
//   --space-xs: 8px;
//   --space-sm: 12px;
//   --space-md: 20px;
//   --space-lg: 32px;
//   --space-xl: 52px;
//   --space-xxl: 84px;

//   // Padding

//   // Border-radii;
// }
