// Great articles to define a modern, accessible typography approach using scss.
// https://moderncss.dev/generating-font-size-css-rules-and-creating-a-fluid-type-scale/
// https://www.rawkblog.com/2018/05/modular-scale-typography-with-css-variables-and-sass/
@use "sass:map";

// Enable this for each font ýou're serving
// Add a @font-face for each font-style you're serving (eg 400, 400i, 700,...)
// @font-face {
//   font-family: 'My Font';
//   font-style: normal;
//   font-weight: 400;
//   font-display: optional;
//   src: url('/fonts/myFont.woff2') format('woff2'),
//     url('/fonts/myFont.woff') format('woff');
// }

// Type ratios
// More info: https://type-scale.com/
$type-ratios: (
  'minorSecond': 1.067,
  // Typical use for dashboard-product-site archetype or mobile
  'majorSecond': 1.125,
  'minorThird': 1.2,
  // Typical use for blog-site archetype
  'majorThird': 1.25,
  // Typical use for marketing-site archetype
  'perfectFourth': 1.333,
  'augmentedFourth': 1.414,
  'perfectFifth': 1.5,
  'goldenRatio': 1.618,
);

@function type-ratio($key) {
  @return map-get($type-ratios, $key);
}

// // Font stacks
$font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
$font-family-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-mono: Menlo, Monaco, 'Courier New', monospace;
// Don't forget to add your self-hosted font
$font-family-base: $font-family-system;
$font-family-alt: $font-family-system;

$line-height-headings: 1.1;
$line-height-paragraphs: 1.6;
