@use '@styles/theme';

.buttonsContainer {
  margin-top: 3rem;
}
.buttonRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius);
  padding: 1.5rem;

  &.dark {
    background: linear-gradient(to right, #7f00ff, #e100ff);
  }
}
