@use '@styles/mixins';

.root {
  display: grid;
  align-items: start;
  gap: 2.5rem;
  width: 100%;
  @include mixins.breakpoint-up(lg) {
    grid-template-columns: minmax(15rem, auto) 1fr;
  }
}

.sidenav {
  border: 2px solid var(--color-border-primary);
  padding: 1rem 1.25rem;
  border-radius: var(--border-radius);

  ul {
    li {
      line-height: 1;
      a {
        padding: 0.5rem 0;
        display: block;
        color: var(--color-text-tertiary);
        &:hover {
          color: var(--color-text-primary);
          text-decoration: underline;
        }
      }
    }
  }
}

.components {
  display: grid;
  gap: 3rem;
  > section {
    display: grid;
    gap: 0.5rem;
    > h4 {
      padding: 1.5rem 0 1rem 0;
      > a {
        color: var(--color-text-primary);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.wrappedItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  &.contrasted {
    background: linear-gradient(to right, #7f00ff, #e100ff);
    padding: 1rem;
  }
}

.mw-capped {
  max-width: 16rem;
}
