@use 'reset';

@use '../theme/common';
@use '../theme/dark';
@use '../theme/light';

html {
  height: 100%;
}

html,
body {
  // font-family: var(--font-sans);
  // background-color: var(--primary);
  // color: var(--text-primary);
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}
