:root {
  --color-black: #1a1a1a;
  --color-white: #ffffff;

  --color-black-fade-15: rgba(0, 0, 0, 0.15);
  --color-black-fade-30: rgba(0, 0, 0, 0.3);
  --color-black-fade-50: rgba(0, 0, 0, 0.5);
  --color-black-fade-70: rgba(0, 0, 0, 0.7);
  --color-black-fade-85: rgba(0, 0, 0, 0.85);
  --color-white-fade-15: rgba(255, 255, 255, 0.15);
  --color-white-fade-30: rgba(255, 255, 255, 0.3);
  --color-white-fade-50: rgba(255, 255, 255, 0.5);
  --color-white-fade-70: rgba(255, 255, 255, 0.7);
  --color-white-fade-85: rgba(255, 255, 255, 0.85);

  --color-gray-100: #fcfcfc;
  --color-gray-200: #f0f0f0;
  --color-gray-300: #e6e6e6;
  --color-gray-400: #c9c9c9;
  --color-gray-500: #9e9e9e;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #212121;

  --color-green-100: #f9fff5;
  --color-green-200: #c4f8ac;
  --color-green-300: #a2f77a;
  --color-green-400: #72e93d;
  --color-green-500: #41d500;
  --color-green-600: #24bf00;
  --color-green-700: #0d9d00;
  --color-green-800: #006c00;
  --color-green-900: #003b00;

  --color-red-100: #fff5f6;
  --color-red-200: #ffb9bf;
  --color-red-300: #ff8388;
  --color-red-400: #ff5554;
  --color-red-500: #ff352b;
  --color-red-600: #ce2210;
  --color-red-700: #9d1600;
  --color-red-800: #6c0e00;
  --color-red-900: #3b0800;

  --color-yellow-100: #fffefa;
  --color-yellow-200: #fff1bb;
  --color-yellow-300: #ffe57f;
  --color-yellow-400: #ffda4c;
  --color-yellow-500: #ffcf20;
  --color-yellow-600: #eea61b;
  --color-yellow-700: #de7f17;
  --color-yellow-800: #cd5b13;
  --color-yellow-900: #bd3a0f;

  --color-blue-100: #f5fdff;
  --color-blue-200: #b8edff;
  --color-blue-300: #7ad4ff;
  --color-blue-400: #3db4f5;
  --color-blue-500: #008ee4;
  --color-blue-600: #006ecd;
  --color-blue-700: #004e9d;
  --color-blue-800: #00306c;
  --color-blue-900: #00163b;

  --color-purple-100: #f9f5ff;
  --color-purple-200: #d6bdff;
  --color-purple-300: #bb8bff;
  --color-purple-400: #a45fff;
  --color-purple-500: #9138f6;
  --color-purple-600: #7c1cce;
  --color-purple-700: #66089d;
  --color-purple-800: #4c006c;
  --color-purple-900: #2e003b;
}
