// Cross-browser reset
@use 'reset';
// Themes
// Always import default first, as it holds the base :root{}
@use '@styles/themes/default';
@use '@styles/themes/dark';
// Global theme constants
@use '@styles/theme.scss';

// Define your global styles here
::selection {
  color: var(--color-text-white);
  background-color: var(--color-bg-brand);
}

html {
  height: 100%;
}

html,
body {
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  @include theme.transition(background-color, color, border-color);
}

body {
  position: relative;
  height: 100%;
  margin: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
li,
strong,
em,
blockquote,
q,
mark,
ins,
del,
sup,
sub,
i,
b {
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: bold;
  line-height: var(--line-height-header);
}

p,
small,
li,
strong,
em,
blockquote,
q,
mark,
ins,
del,
sup,
sub,
i,
b {
  font-family: var(--font-family-alt);
  line-height: var(--line-height-paragraph);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--big);
}

h5 {
  font-size: var(--font-size);
}

h6 {
  font-size: var(--font-size);
}

p {
  font-size: var(--font-size);
  p {
    font-size: 100%;
  }
}

small {
  font-size: var(--small);
}

li {
  font-size: var(--font-size);
  li {
    font-size: 100%;
  }
}

a {
  color: var(--color-link-primary);
  @include theme.transition(color);
}

button {
  padding: 0.25rem 0.5rem;
  @include theme.transition(background);
  &:focus {
    outline: var(--color-btn-focus-border);
  }

  &.buttonReset {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

code {
  max-width: 100%;
  background: var(--color-bg-secondary);
  border-radius: theme.$border-radius;
  padding: 0.25em 0.5em;
  white-space: pre-wrap;
  font-family: theme.$font-family-mono;
  line-height: theme.$line-height-paragraphs;
  font-size: var(--small);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  @include theme.transition(background);
}

pre code {
  display: block;
  padding: 0.5em 0.75em;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

blockquote {
  p {
    font-size: var(--h5);
    font-style: italic;
    border-left: 4px solid var(--color-border-brand);
    padding: 1rem 1rem;
    margin: 0 auto;
    max-width: 48rem;
  }
}

table {
  padding: 0;

  tr {
    margin: 0;
    padding: 0;
    th {
      font-weight: 700;
      text-align: left;
      margin: 0;
      padding: 0.5rem 1rem;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    td {
      text-align: left;
      margin: 0;
      padding: 0.5rem 1rem;
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

dl {
  padding: 0;

  dt {
    font-weight: 700;
    font-style: italic;
    padding: 0;
    margin: 1rem 0 0.25rem;

    &:first-child {
      padding: 0;
    }

    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }

  dd {
    margin: 0 0 1rem;
    padding: 0 1rem;

    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
}
