// Cross-browser reset
@use 'reset';
// Themes
// Always import default first, as it holds the base :root{}
@use '@styles/themes/default';
@use '@styles/themes/dark';
// Global theme constants
@use '@styles/theme.scss';

// Define your global styles here
::selection {
  color: var(--text-info);
  background-color: var(--background-info);
}

html {
  height: 100%;
}

html,
body {
  font-family: var(--font-family-base);
  color: var(--text-primary);
  background-color: var(--background-0);
  @include theme.transition(background-color, color, border-color);
}

body {
  position: relative;
  height: 100%;
  margin: 0;
}

#__next {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
li,
strong,
em,
blockquote,
q,
mark,
ins,
del,
sup,
sub,
i,
b {
  word-break: break-word;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: bold;
  line-height: theme.$line-height-headings;
}

p,
small,
li,
strong,
em,
blockquote,
q,
mark,
ins,
del,
sup,
sub,
i,
b {
  font-family: var(--font-family-alt);
  line-height: theme.$line-height-paragraphs;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

p {
  font-size: var(--font-size);
}

small {
  font-size: var(--small);
}

li {
  font-size: var(--font-size);
}

a {
  color: var(--text-link);
  @include theme.transition(color);
}

button {
  padding: 0.25rem 0.5rem;
  &:focus {
    outline: var(--border-accent-1);
  }
}

code {
  font-family: theme.$font-family-mono;
  white-space: pre;
  line-height: theme.$line-height-paragraphs;
  background-color: var(--background-2);
  border-radius: theme.$border-radius;
  padding: 0.75rem;
  @include theme.transition(background-color);
}
