// Cross-browser reset
@use 'reset';
// Themes
// Always import default first, as it holds the base :root{}
@use '@styles/themes/default';
@use '@styles/themes/dark';
// Global theme constants
@use '@styles/theme.scss';

// Define your global styles here
html {
  height: 100%;
}

html,
body {
  // font-family: var(--font-sans);
  background-color: var(--primary);
  // color: var(--text-primary);
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 1.2em;
  margin: 0;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  margin: 0;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 125%;
  margin: 0;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

a {
}
