// Cross-browser reset
@use 'reset';
@use 'chrome-bug';
// Common
@use 'colors';
@use 'typography';
@use 'grid';
@use '@styles/mixins';
// Themes
@use '@styles/themes';
// libraries
@use '@styles/libraries/toastify';

// default theme values
:root {
  // Typography
  --type-scale-ratio: 1.125;

  --font-size: 100%;
  --font-size-x-small: 0.75rem;
  --font-size-small: calc(var(--font-size) / var(--type-scale-ratio));
  --font-size-title: 1.125rem;
  --font-size-h5: 1.125rem;
  --font-size-h4: calc(var(--font-size) * var(--type-scale-ratio));
  --font-size-h3: calc(var(--font-size-h4) * var(--type-scale-ratio));
  --font-size-h2: calc(var(--font-size-h3) * var(--type-scale-ratio));
  --font-size-h1: calc(var(--font-size-h2) * var(--type-scale-ratio));

  // Don't forget to add your self-hosted font
  --font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-family-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-serif: Georgia, 'Times New Roman', Times, serif;
  --font-family-mono: Menlo, Monaco, Cascadia Code, Segoe UI Mono, 'Courier New',
    monospace;

  --font-family-base: var(--font-family-system);
  --font-family-alt: var(--font-family-system);

  --line-height-header: 1.125;
  --line-height-paragraph: 1.75;
  --line-height-small: 1.5;

  // Spacing and Radii
  --border-radius: 0.25rem;
  --border-radius-lg: 4rem;

  // Widths
  --reading-width: clamp(45ch, 50%, 80ch);

  // Shadows
  --box-shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --box-shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --box-shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --box-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --box-shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --box-shadow-xxl: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    100px 100px 80px rgba(0, 0, 0, 0.07);

  //Z-indexes
  --z-negative: -1;
  --z-low: 10;
  --z-mid: 100;
  --z-high: 1000;
  --z-ultra: 10000;
  --z-extreme: 9999999999;

  --transition-timing: cubic-bezier(0.16, 1, 0.3, 1);
  --transition-duration: 500ms;

  @include mixins.breakpoint-up(lg) {
    --font-size: 105%;
    --type-scale-ratio: 1.25;
  }
  @include mixins.breakpoint-up(xxl) {
    --font-size: 110%;
    --type-scale-ratio: 1.333;
  }
}

// Define your global styles here
::selection {
  color: var(--color-white);
  background-color: var(--color-bg-brand);
}

html {
  height: 100%;
  font-size: var(--font-size);
}

html,
body {
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

body {
  font-family: var(--font-family-base);
  position: relative;
  height: 100%;
  margin: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
li,
strong,
em,
blockquote,
q,
mark,
ins,
del,
sup,
sub,
i,
b {
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: bold;
  line-height: var(--line-height-header);
}

p,
small,
li,
strong,
em,
blockquote,
q,
mark,
ins,
del,
sup,
sub,
i,
b {
  font-family: var(--font-family-alt);
  line-height: var(--line-height-paragraph);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-title);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-title);
}

small {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

a {
  color: var(--color-link-primary);
  font-weight: 500;
  @include mixins.transition(color);
  &:hover {
    color: var(--color-link-hover);
  }
  &:focus {
    color: var(--color-link-focus);
  }
  &:active {
    color: var(--color-link-active);
  }
}

button {
  padding: 0.25rem 0.5rem;
}

code {
  max-width: 100%;
  background: var(--color-bg-tertiary);
  border-radius: var(--border-radius);
  padding: 0.125em 0.25em;
  white-space: pre-wrap;
  font-family: var(--font-family-mono);
  line-height: var(--line-height-paragraph);
  font-size: var(--font-size-small);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

pre code {
  display: block;
  padding: 0.5em 0.75em;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

blockquote {
  p {
    font-style: italic;
    border-left: 4px solid var(--color-border-brand);
    padding: 1rem 1rem;
    margin: 0 auto;
    max-width: 48rem;
  }
}

table {
  padding: 0;
  tr {
    margin: 0;
    padding: 0;
    th {
      font-weight: 700;
      text-align: left;
      margin: 0;
      padding: 0.5rem 1rem;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    td {
      text-align: left;
      margin: 0;
      padding: 0.5rem 1rem;
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

dl {
  padding: 0;
  dt {
    font-weight: 700;
    font-style: italic;
    padding: 0;
    margin: 1rem 0 0.25rem;

    &:first-child {
      padding: 0;
    }
    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
  dd {
    margin: 0 0 1rem;
    padding: 0 1rem;
    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
}

sup,
sup {
  font-size: 50%;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}
