@use 'colors/paletteLight';

:root {
  --primary: #ffffff;
  --primary-2: #f1f3f5;
  --secondary: #000000;
  --secondary-2: #111;

  --text-base: #{paletteLight.$gray900};
  --text-primary: #{paletteLight.$gray900};
  --text-secondary: white;
}
