@use '@styles/mixins';

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.inputField {
  width: 100%;
  min-height: 2.25rem;
  padding: 0.5rem 0.75rem;
  font-size: var(--font-size-small);
  font: inherit;
  line-height: 1;
  border-radius: var(--border-radius);
  background: var(--color-input-bg);
  color: var(--color-text-secondary);
  border: 0.125rem solid var(--color-input-border);
  @include mixins.transition(border-color);

  &::placeholder {
    color: var(--color-text-placeholder);
  }
  &:hover {
    background: var(--color-input-hover-bg);
    border: 0.125rem solid var(--color-input-hover-border);
  }
  &:focus {
    background: var(--color-input-focus-bg);
    border: 0.125rem solid var(--color-input-focus-border);
    outline: none;
    box-shadow: var(--box-shadow-sm);
  }
  &:disabled {
    background: var(--color-input-disabled-bg);
    border: 0.125rem solid var(--color-input-disabled-border);
    color: var(--color-text-disabled);
  }

  &:-webkit-autofill {
    border: 0.125rem solid var(--color-input-border);
    -webkit-text-fill-color: var(--color-text-secondary);
    -webkit-box-shadow: inset 0 0 0px 100px var(--color-input-bg);
    @include mixins.transition(border);

    &:hover {
      background: var(--color-input-hover-bg);
      border: 0.125rem solid var(--color-input-hover-border);
    }
    &:focus {
      background: var(--color-input-focus-bg);
      border: 0.125rem solid var(--color-input-focus-border);
      outline: none;
    }
  }

  &.has-icon-left {
    padding-left: 2.25rem;
  }

  &.has-icon-right {
    padding-right: 2.25rem;
  }

  &.has-error {
    border: 0.125rem solid var(--color-input-error-border);
  }
}

.inputLabel {
  display: block;
  margin-bottom: 0.5rem;
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--color-label-primary-text);
  letter-spacing: 0.02rem;
}

.inputIconContainer {
  padding: 0.75rem;
  display: flex;
  position: absolute;
  z-index: 1;
  color: var(--color-label-primary-icon);
  svg {
    width: 1rem;
    height: auto;
  }
}

.inputIconLeft {
  left: 0;
}
.inputIconRight {
  right: 0rem;
}

.fieldAlert {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  min-height: 0.75rem;
  color: var(--color-label-danger-text);
}

.fieldAlertIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.25rem;
  svg {
    width: 0.75rem;
    height: auto;
  }
}

.fieldAlertText {
  font-size: 0.75rem;
  line-height: 1;
}
