@import '~react-day-picker/style.css';

:root {
  --rdp-cell-size: 2.5rem;
  --rdp-accent-color: var(--color-btn-primary-bg);
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
}
