@use '@styles/theme';
// Import default base stylesheet
@import '~react-toastify/dist/ReactToastify.min.css';
//https://fkhadra.github.io/react-toastify/how-to-style
:root {
  --toastify-color-light: var(--color-toast-bg);
  --toastify-color-dark: var(--color-toast-bg-inverted);
  --toastify-color-info: var(--color-amber-500);
  --toastify-color-success: var(--color-purple-600);
  --toastify-color-warning: var(--color-orange-500);
  --toastify-color-error: var(--color-red-500);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: var(--color-white);
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-z-index: #{theme.$z-ultra};

  --toastify-text-color-light: var(--color-toast-text);
  --toastify-text-color-dark: var(--color-toast-text-inverted);

  //Used only for colored theme
  --toastify-text-color-info: var(--color-black);
  --toastify-text-color-success: var(--color-purple-50);
  --toastify-text-color-error: var(--color-red-50);
  --toastify-text-color-warning: var(--color-black);

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-light: var(--color-toast-bar);
  --toastify-color-progress-dark: var(--color-toast-bar-inverted);
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

.Toastify__progress-bar {
  height: 6px;
}

.Toastify__toast-container {
  padding: 0;
}

.Toastify__toast {
  box-shadow: theme.$box-shadow-lg;
  > svg {
    width: 1.25rem;
  }
}
